---
import Contactform from "@/components/contactform.astro";
import Container from "@/components/container.astro";
import Sectionhead from "@/components/sectionhead.astro";
import Layout from "@/layouts/Layout.astro";
import { Icon } from "astro-icon/components";
---

<Layout title="Contact">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Let’s Connect</Fragment>
      <Fragment slot="desc">
        Got a question, a project idea, or just want to say hi? Drop me a message.
      </Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-16">
      <div>
        <h2 class="font-medium text-2xl text-gray-800">Reach Out</h2>
        <p class="text-lg leading-relaxed text-slate-500 mt-3">
          Whether it’s about development, collaboration, or just a quick chat — I’d love to hear from you.
        </p>
        <div class="mt-5 space-y-3">
          <div class="flex items-center space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:envelope" />
            <a href="mailto:michaelrobink@gmail.com">michael@example.com</a>
          </div>
          <!-- <div class="flex items-center space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:phone" />
            <a href="tel:+1234567890">+1 (234) 567-890</a>
          </div> -->
          <div class="flex items-center space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:github" />
            <a href="https://github.com/robinbinu" target="_blank">github.com/robinbinu</a>
          </div>
        </div>
      </div>
      <div>
        <Contactform />
      </div>
    </div>
  </Container>
</Layout>

