<footer class="my-20">
  <p class="text-center text-sm text-slate-500">
    <!-- © {new Date().getFullYear()} Michael Robin K. All rights reserved. -->
  </p>
  <!--
    Please retain this credit if you're using the free version of the template.
    Or purchase a commercial license at https://web3templates.com
  -->
  <p class="text-center text-xs text-slate-500 mt-1">
    Built with ❤️ using Astro + Tailwind
  </p>
</footer>
